# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=luna_db

# RabbitMQ Configuration
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_VHOST=/

# API Configuration
API_KEY=some_api_key
